@import url(http://fonts.googleapis.com/css?family=Fugaz+One);
/*-------------------------------------*/

html                    { overflow-y:scroll; }
body                    {  }
.draggable {
    cursor: move;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }



.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

/*-------------------------------------*/

.form-wrapper {
    padding: 15px;

}

.form-wrapper input {

    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    width: 211px;
    height: 40px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper button {
    left: -3px;
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #90183B;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    width: 56px;
}

.form-wrapper button:hover{
    background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #c42f2f;
}

.form-wrapper button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #90183B transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before{
    border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**********************************************/

#bg {
    background: url(../img/bg.jpg) no-repeat;
    background-size: auto;
	height: 258px;
}

@media (max-width: 767px) {
	#bg {
	background-size: cover;
	}
}


/**********************************************/



.logo {
    font-size: 20pt;
    font-family: 'Fugaz One', cursive;
    font-weight: 400;
    color: #FFFFFF;
    border-right: 1px #413e11 dotted;
    padding-right: 15px;

}

.menu {
    font-size: 19pt;
    font-family: 'trebuchet ms', cursive;
    font-weight: 200;
    color: #FFFFFF;
  
    border-right: 1px #413e11 dotted;
    padding-right: 15px;

}

.footer{
    background-color: rgba(16, 16, 16, 0.77);
    padding-top: 12px;
    text-shadow: 0 1px 1px #000000, 0 -1px 1px #000000;
    color: #898888;
}


/**********************************************/

.titleSearch{

    color: #000000;
    font-size: 12pt;
    border-bottom: #000000 1px dotted;
}


/**********************************************/

.navbar-header{
    background-color: black;
}

.searchBar{
    float: left;
    width: 300px;
    height: 1000px;
    background-color: #000000;
}

.navbar-header{
    border-bottom: dimgray 1px dotted;
}


/**********************************************/


.search .logo{
    font-size: 82pt;
    color: black ;
    border-right: none;
}

.search .logo span{
    font-size: 96pt;
    color: navy;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}

.search .form-wrapper input {

    padding: 25px 15px;
    width: 470px;
    height: 60px;
}


.search .form-wrapper button {
    width: 67px;
    height: 60px;
}

.search .form-wrapper button:before {
    top: 23px;

}

